[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
setuptools  = "*"
pytest = "*"
pytest_runner = "*"
pytest_cov = "*"
pytest_pylint = "*"
pytest-pep8 = "*"
pylint = "*"
coverage = "*"
pipenv-setup = "*"

[packages]
jsonschema = "*"
pyyaml = "*"

